.form-title {
  font-family: 'Roboto';
}

.form-title h2 {
  font-size: 1.6rem;
  margin-bottom: .07rem;
}

.form-title h1 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 3.9rem;
}

.checked-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.6rem;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio-container label {
  font-family: 'Roboto';
  font-size: 1.4rem;
  margin-left: 1rem;
}

.checked-container .password-recovery {
  border: none;
  background-color: transparent;
  color: var(--purple-light);
  font-family: 'Roboto';
  font-size: 1.4rem;
  cursor: pointer;
}

.checked-container button[disabled] {
  opacity: 0.5;
}

/* Error message */

.error {
  font-family: 'Roboto';
  font-size: 1.4rem;
  color: red;
  display: none;
}

/* Loading Component */

.loading {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
}


.loading-text {
  font-family: 'Roboto';
  color: var(--white);
  margin-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: 2px;
  z-index: 5;
}