#login-page {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.form-login {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.form-login-wrapper {
  max-width: 35rem;
}

.form-title {
  font-family: 'Roboto';
}

.form-title h2 {
  font-size: 1.6rem;
  margin-bottom: .07rem;
}

.form-title h1 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 3.9rem;
}

.form-input label {
  font-size: 1.6rem;
  font-family: 'Roboto';
}

.form-input input {
  border: 1px solid #E8E8E8;
}

.form-input input,
[type=email],
[type=password] {
  width: 35rem;
  height: 5rem;
  border-radius: 5px;
  margin: 1.1rem 0;
}

.checked-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.6rem;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checked-container+.radio-container+input {
  border: 1px solid #E8E8E8;

}

.radio-container label {
  font-family: 'Roboto';
  font-size: 1.4rem;
  margin-left: 1rem;
}

.checked-container .password-recovery {
  border: none;
  background-color: transparent;
  color: #2B6CB0;
  font-family: 'Roboto';
  font-size: 1.4rem;
  cursor: pointer;
}

.checked-container button[disabled] {
  opacity: 0.5;
}


.login {
  width: 34.7rem;
  height: 5rem;
  background-color: #04C35C;
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

/* .login[disabled] {
  opacity: 0.5;
} */


.register {
  width: 34.7rem;
  height: 5rem;
  background-color: #1A202C;
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

/* Error message */

.error {
  font-family: 'Roboto';
  font-size: 1.4rem;
  color: red;
  display: none;
}

/* Image side */

.banner-login {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




.banner-login img {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}