.register-subtitle {
  font-family: 'Roboto';
  font-size: 1.6rem;
  margin-bottom: .07rem;
}

.register-title {
  font-family: 'Roboto';
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 3.9rem;
}

.button-container {
  margin-top: 3.6rem;
}